* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 20px auto 0;
}


body {
  background-image: url('../img/natural-bg-pattern.png');
  font-family: 'Montserrat', sans-serif;
}

#header-top {
  position: relative;
  height: 400px;
  background-image: url('../img/natural-header-bg.jpg');
  background-position: center center;
  border: 10px solid #fff;
}

#header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}

#header-title, #main-nav a {
  color: #fff;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

#header-title .logo-img {
  width: 500px;
}

#main-nav {
  height: 50px;
  background-color: #665e5e;
  text-align: center;
}

#main-nav .menu-list {
  list-style: none;
  font-size: 0;
}

#main-nav .menu-list-item, #main-nav a {
  display: inline-block;
  line-height: 50px;
}

#main-nav a {
  text-decoration: none;
  font-size: 14px;
  padding: 0 16px;
  transition: background-color 0.4s;
}

#main-nav a:hover {
  background-color: #2b2323;
  transition: background-color 0.4s;
}

main {
  height: 650px;
  margin: 10px 0;
}

main::after {
  content: "";
  display: table;
  clear: both;
}

.sidebar, .widget-area {
  float: left;
  width: 22%;
}

.sidebar, .widget {
  padding: 10px;
}

.sidebar, .main-content, .widget {
  border-radius: 10px;
  background-color: #fff;
}

.sidebar h2, .main-content h2, .widget h2 {
  color: #2b2323;
}

.sidebar-header .fa-rss-square {
  font-size: 30px;
  color: orange;
  margin-right: 10px;
}

.sidebar-header .fa-rss-square, .sidebar-header h2 {
  float: left;
}

.sidebar-header {
  content: "";
  display: table;
  clear: both;
  margin-bottom: 15px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li:not(:last-child) {
  margin-bottom: 12px;
}

.sidebar a {
  color: green;
  font-weight: 600;
  line-height: 1.5;
  text-transform:capitalize;
  text-decoration: none;
}

.main-content {
  float: left;
  margin: 0 3%;
  padding: 20px;
  width: 50%;
}

.article-title {
  margin-bottom: 25px;
  text-transform: uppercase;
  text-shadow: 2px 2px 1px rgba(0,0,0,0.4);
}

.article-content {
  font-weight: bold;
  line-height: 2;
}

.widget-area {
  height: 100%;
}

.widget {
  height: 47%;
}

.widget:first-child {
  margin-bottom: 6%
}

#footer {
  height: 80px;
  background-color: #a4d2e1
}
