* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 1600px;
  margin: 20px auto 0;
}

#header {
  height: 180px;
  background-color: #fefe3a;
}

main {
  height: 650px;
  margin: 10px 0;
}

main::after {
  content: "";
  display: table;
  clear: both;
}

.sidebar, .widget-area {
  float: left;
  width: 25%;
}

.sidebar {
min-height: 65%;
}

.sidebar, .widget {
  background-color: #cc87da;
}

.main-content {
  float: left;
  margin: 0 1.5%;
  width: 47%;
  height: 100%;
  background-color: #730671;
}

.widget-area {
  height: 99%;
}

.widget {
  height: 47%;
}

.widget:first-child {
  margin-bottom: 6%
}

#footer {
  height: 80px;
  background-color: #a4d2e1
}
