* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 20px auto 0;
}


body {
  background-image: url('../img/natural-bg-pattern.png')
}

#header-top {
  position: relative;
  height: 400px;
  background-image: url('../img/natural-header-bg.jpg');
  background-position: center center;
  border: 10px solid #fff;
}

#header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

#header-title .logo-img {
  width: 500px;
}

main {
  height: 650px;
  margin: 10px 0;
}

main::after {
  content: "";
  display: table;
  clear: both;
}

.sidebar, .widget-area {
  float: left;
  width: 25%;
}

.sidebar {
min-height: 65%;
}

.sidebar, .widget {
  background-color: #cc87da;
}

.main-content {
  float: left;
  margin: 0 1.5%;
  width: 47%;
  height: 100%;
  background-color: #730671;
}

.widget-area {
  height: 99%;
}

.widget {
  height: 47%;
}

.widget:first-child {
  margin-bottom: 6%
}

#footer {
  height: 80px;
  background-color: #a4d2e1
}
